@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ubuntu";
  src: url(/font/Ubuntu-R.ttf);
}

@font-face {
  font-family: "din";
  src: url(/font/DINPro-Medium.woff2);
}
