@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ubuntu";
  src: url(/font/Ubuntu-R.ttf);
  font-display: swap;
}

@font-face {
  font-family: "din";
  src: url(/font/DINPro-Medium.woff2);
  font-display: swap;
}

@font-face {
  font-family: "CascadiaMono";
  src: local("Cascadia Mono Regular"), url(/font/CascadiaMono.woff2);
  font-display: swap;
}

@layer components {
  .lightsnow-typography {
    @apply prose-h1:mb-6
    prose-h1:text-2xl
    prose-h2:text-xl
    prose-h2:mb-4
    prose-headings:my-0 
    prose-headings:text-gray-800 
    prose-h3:border-l-8 prose-h3:pl-2
    prose-p:text-gray-900
    prose-pre:font-mono
    prose-pre:text-base
    [&_div[class="footnote-definition"]]:flex
    [&_div[class="footnote-definition"]]:items-start
    [&_div[class="footnote-definition"]]:text-sm
    [&_div[class="footnote-definition"]]:mb-2
    [&_div[class="footnote-definition"]_sup]:inset-0
    [&_div[class="footnote-definition"]_sup]:text-sm
    [&_div[class="footnote-definition"]_sup]:mr-2
    [&_div[class="footnote-definition"]_sup]:after:content-[':']
    [&_div[class="footnote-definition"]_p]:m-0
    [&_div[class="footnote-definition"]:nth-of-type(1)]:pt-6
    [&_div[class="footnote-definition"]:nth-of-type(1)]:border-t
    [&_sup[class="footnote-reference"]_a]:mr-1
    [&_sup[class="footnote-reference"]_a]:after:content-['_↗']
    [&_sup[class="footnote-reference"]_a]:decoration-blue-500
    [&_sup[class="footnote-reference"]_a]:decoration-2
    [&_sup[class="footnote-reference"]_a]:text-blue-500
    [&_p]:prose-blockquote:text-gray-500
    [&_p]:prose-blockquote:text-sm;
  }
}
